NEXT_PUBLIC_SITE_URL=https://verteletskiy-video.ru
NEXT_PUBLIC_SANITY_PROJECT_ID=replace_with_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-09

# Необязательно. Использовать только если dataset приватный.
# Этот токен нельзя отдавать в браузер.
SANITY_API_READ_TOKEN=
